.ftb-twitch-user-page-header{
    background-color: var(--slds-g-color-palette-neutral-90);
    border-radius: var(--slds-g-radius-border-3);
    border-width: var(--slds-g-sizing-border-2);
}

.ftb-twitch-user-display-name {
    font-weight: var(--slds-g-font-weight-bold, 700);
    color: var(--slds-g-color-palette-neutral-0);
    font-size: var(--slds-g-sizing-6);
}